header {
  height: 100px;
  background-color: darkred;
  text-align: center;
  }

nav, nav a {
  height: 20px;
  min-width: calc(100vw - 20px);
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: darkgoldenrod;
  color: black;
}

body, html {
    height: fit-content;
    margin: 0;
    padding: 0;
    background-color: rgba(12, 12, 12, 0.918);
    text-align: center;
    font-family: "Helvetica", sans-serif;
  }

  footer {
    background-color: darkgoldenrod;
    color: black;
  }
  
  section {
    padding-top: 20px;
    min-height: calc(100vh - 20px);
    color: white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Garamond", serif;
  }

  #About-Us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #First-Class-Seats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  @media (max-width: 700px) {
    #First-Class-Seats {
      flex-direction: column;
    }
  }

  #Profern-Verona-Twin {
    max-width: 650px;
    max-width: 80vw;
    max-height: 80vh;
    max-height: 650px;
    object-fit: contain;
  }

  #First-Class-Prices {
    display: flex;
    flex-direction: column;
    min-width: 250px;
  }

  #Standard-Seats {
    margin-top: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  @media (max-width: 700px) {
    #Standard-Seats {
      flex-direction: column;
    }
  }

  #Profern-Standard-Twin {
    max-width: 650px;
    max-width: 80vw;
    max-height: 80vh;
    max-height: 650px;
    object-fit: contain;
  }

  #First-Standard-Prices {
    display: flex;
    flex-direction: column;
    min-width: 250px;
  }

  #Discounted-Seats {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }